.NavBar {
  margin-top: 50px;
  background-color: whitesmoke;
  display: flex;

  align-items: center;
}

.banner {
  background-color: black;
  color: white;
}

.headline {
  margin-top: 0px;
}

.margin {
  background-color: brown;
  height: 5px;
  margin-bottom: 0px;
}

.cart {
  display: flex;
  direction: row;
  height: 100%;
}

.shop {
  margin-bottom: 0px;
}

.headline {
  margin-top: 5px;
}
